img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.item-body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

ion-item{
    --padding-bottom: 16px;
    --padding-top: 16px;
    margin: 5px 10px;
    --border-radius: 10px;
}

ion-list{
    padding-top: 5px;
    padding-bottom: 5px;
}