<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()" class="back-btn">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="comic" class="ion-text-center">
  <h3>{{comic.title}}</h3>
  <img src="{{getComicImage(comic)}}" alt="">

  <div class="description">
    <p>{{comic.description}}</p>
  </div>

  <div class="description">
    <p>Número de páginas: {{comic.pageCount}}</p>
  </div>

  <div class="description last-content">
    <p>Autores: {{getCreators()}}</p>
  </div>

  <div class="btn-container" slot="fixed">
    <ion-button slot="fixed" (click)="favourite ? unsetFavComic(comic) : storeFavComic(comic)" expand="block" class="fav-btn">
      {{favourite ? btn_text[1] : btn_text[0]}}
      <ion-icon slot="end" name="{{getFavButtonIcon()}}" id="fav-icon"></ion-icon>
    </ion-button>
  </div>
</ion-content>
