<ion-list lines="none">
  <ion-item color="dark" *ngFor='let character of characters'>
    <div (click)="openCharacterDetails(character.id)" class="item-body">
      <img src="{{getCharacterImage(character)}}" alt="">
      <ion-label>
          <h2>{{character.name}}</h2>
          <p>{{character.description}}</p>
      </ion-label>
    </div>
      
    <ion-buttons slot="end" (click)="storeFavCharacter(character)">
      <ion-icon slot="end" name="heart-outline"></ion-icon>
    </ion-buttons>
  </ion-item>
</ion-list>
