.back-btn{
    margin-left: 15px;
}

.btn-container{
    bottom: 0px;
    width: 100%;
    background-color: white;
}

.fav-btn{
    margin:15px;
}

.description{
    margin: 20px 30px;

    p{
        text-align: justify;
    }
}

ion-toolbar{
    --background: var(--ion-color-primary);
    --color: var(--ion-color-light);
}

.list-item{
    margin: 5px 0px;
}

.last-content{
    margin-bottom: 50px;
}

img{
    border-radius: 5px;
}