<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()" class="back-btn">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="character" class="ion-text-center">
  <h3>{{character.name}}</h3>
  <img src="{{getCharacterImage(character)}}" alt="">

  <div class="description">
    <p>{{character.description}}</p>
  </div>

  <div class="description">
    <p class="list-item">Comics:</p>
    <p *ngFor="let comic of comics" class="list-item">{{comic.name}}</p><br>
  </div>

  <div class="btn-container" slot="fixed">
    <ion-button slot="fixed" (click)="favourite ? unsetFavCharacter(character) : storeFavCharacter(character)" expand="block" class="fav-btn">
      {{favourite ? btn_text[1] : btn_text[0]}}
      <ion-icon slot="end" name="{{getFavButtonIcon()}}" id="fav-icon"></ion-icon>
    </ion-button>
  </div>
</ion-content>
