<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favourites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Characters</h2>
  <!-- <ion-list *ngFor='let character of characters'>
    <ion-item>
        <img src="{{getCharacterImage(character)}}" alt="">
        <ion-label>
            <h2>{{character.name}}</h2>
            <p>{{character.description}}</p>
        </ion-label>
        <ion-buttons slot="end" (click)="removeCharacterFromList(character)">
          <ion-icon slot="end" name="heart-outline"></ion-icon>
        </ion-buttons>
    </ion-item>
  </ion-list> -->
  <div class="character-grid">
    <div *ngFor='let character of characters'>
      <div class="item-character">
        <ion-card class="ion-text-center character-card" (click)="openCharacterDetails(character.id)">
          <img src="{{getCharacterImage(character)}}" alt="">
          <ion-card-header>
            <ion-card-title>{{character.name}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </div>
  </div>
  <h2>Comics</h2>
  <div class="comic-grid">
    <div *ngFor='let comic of comics'>
      <div class="item-comic">
        <ion-card class="ion-text-center comic-card" (click)="openComicDetails(comic.id)">
          <img src="{{getComicImage(comic)}}" alt="">
          <ion-card-header>
            <h4>{{comic.title}}</h4>
          </ion-card-header>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
