<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor='let character of characters'>
    <ion-item>
        <img src="{{getCharacterImage(character)}}" alt="">
        <ion-label>
            <h2>{{character.name}}</h2>
            <p>{{character.description}}</p>
        </ion-label>
        <ion-buttons slot="end" (click)="removeCharacterFromList(character)">
          <ion-icon slot="end" name="heart-outline"></ion-icon>
        </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
