h2{
    margin: 10px 0px 0px 20px;
}

ion-toolbar{
    --background: var(--ion-color-primary);
    --color: var(--ion-color-light);
}

.character-grid, .comic-grid{
    display: flex;
    overflow-x: auto;
    max-height: 300px;
}

.character-grid::-webkit-scrollbar, .comic-grid::-webkit-scrollbar{
    width: 0;
    display: none;
}

.item{
    min-width: 205px;
    height: 95%;
}

ion-card{
    height: 90%;
}