<ion-header [translucent]="true">
  <ion-toolbar class="comics-toolbar">
      <h2>Comics</h2>
      <ion-button slot="end" color="light" (click)="searchbarVisible == true ? hideSearchBar() : showSearchBar()">
        <ion-icon name="search" id="search-icon-comics"></ion-icon>
      </ion-button> 
  </ion-toolbar>
  <ion-toolbar id="toolbar-search-comics" class="toolbar-search-comcis">
      <ion-searchbar show-cancel-button="focus" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button slot="fixed" (click)="goToTop()"><ion-icon name="arrow-up"></ion-icon></ion-button> 
  <app-comics [comics]='comics'></app-comics>
  <ion-infinite-scroll threshold='25%' position="bottom" (ionInfinite)='loadComics($event)'>
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more comics...">

      </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
